body {
    background-image: url(https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-noise.png), linear-gradient(0deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-light.png);
    background-repeat: repeat, repeat, no-repeat;
    background-attachment: fixed, fixed, fixed;
    background-position: center center, center center, center center;
    background-size: auto, auto, cover;
    -webkit-background-size: auto, auto, cover;
    -moz-background-size: auto, auto, cover;
    -o-background-size: auto, auto, cover;
    border-radius: 0 !important;
    border-color: rgba(0, 0, 0, .15) !important;
    padding-top: 2em;
    padding-bottom: 30px;
    font-family: "Open Sans Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
p,
br {
    color: #FFF;
}

.top-text {
    padding-top: 1em;
    padding-bottom: 2em;
}

.divider {
    text-align: center;
}

table {
    display: block;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.service {
    padding-top: 1em;
}

#logo {
    max-height: 4em;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}


a:link {
    color: green;
}

a:visited {
    color: gray;
}

a:hover {
    color: white;
}

.email {
    color: white !important;
    text-decoration: underline;
}
