body{
    background-image: url(https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-noise.png), url(https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-dark.png);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    padding-top: 0;
    padding-bottom: 30px;
    font-family: "Open Sans Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
.float {
    padding: 12em;
    }
.content {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    background: #000000;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.float h1#top-text {
    font: normal normal normal FontAwesome;
    color: #999;
    #position: fixed;
    background: #444546;
    margin-top: -71px;
    text-align:center;
    text-transform: uppercase;
    color: #FFFFFF;
    }