body {
    background-image: url(https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-noise.png), linear-gradient(0deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-light.png);
    background-repeat: repeat, repeat, no-repeat;
    background-attachment: fixed, fixed, fixed;
    background-position: center center, center center, center center;
    background-size: auto, auto, cover;
    -webkit-background-size: auto, auto, cover;
    -moz-background-size: auto, auto, cover;
    -o-background-size: auto, auto, cover;
    border-radius: 0 !important;
    border-color: rgba(0, 0, 0, .15) !important;
    padding-top: 2em;
    padding-bottom: 30px;
    font-family: "Open Sans Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h4,
p,
br {
    color: #fff;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.mid {
    display: block;
    margin-left: 40%;
    margin-right: 40%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.small {
    width: 30%;
}

.big {
    width: 60%;
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #fff;
}

a:active {
    color: #fff;
}
